@import "tailwindcss";

*{
    box-sizing: border-box;
}
.active{
    color: #FB2E86;
}

button{
    background-color: #FB2E86;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
}
button:hover{
    background-color: #fa519a;
    
}